body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#image-container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:10px;
    width: 100%;
   
    
}

#image {
    width: 100%;
    border: 5px solid #333;
}
